@charset "utf-8";
/* CSS Document */
.navbar-header button {
	color: #fff;
	background-color: #023E6F;
	}
	
.fullscreen {
	width: 100%;
	}
	
main {
	padding-top: 50px;
	}
	
.glyphicon-chevron-left {
	color: #E3D33C;
	}
	
.glyphicon-chevron-right {
	color: #E3D33C;
	}
			
footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	}
	
.tab-pane {
	padding:10px 5px;
			}
			
.margen-titulo { 
	margin-left: 50px;
		}

.margem-menu { 
	margin-left: 30px;
	}

.margem-buscar { 
	margin-right: 20px;
	}
	
.margen-titulo-roupa {
	margin-left: 40px;
	}

.margen-baixo {
	margin-bottom: 50px;
	
	}

	
@media (max-width: 767px) {
	
.margen-titulo { 
	margin-left: 0px;
		}	
	
.margem-menu { 
	margin-left: 0px;
	}
	
.margem-buscar {
	margin-right: 0px;
	
	}

	
}